# TODO: add custom languages
# see https://docs.helix-editor.com/guides/adding_languages.html

theme = "helix_theme"

[editor]
scrolloff = 3
shell = ["fish", "-c"]
line-number = "relative"
true-color = true
bufferline = "multiple"
color-modes = true
end-of-line-diagnostics = "hint"

[editor.statusline]
left = ["mode", "spinner", "diagnostics", "file-base-name", "read-only-indicator", "file-modification-indicator"]
right = ["register", "position-percentage", "position"]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.cursor-shape]
insert = "bar"

[editor.whitespace.render]
space = "all"
tab = "all"
nbsp = "all"
nnbsp = "all"

[editor.whitespace.characters]
tab = "╶"
tabpad = "─"
tabend = "╴" # TODO: PR

[editor.gutters]
layout = ["line-numbers", "diff"]

[editor.gutters.line-numbers]
min-width = 1

# TODO: change diff symbol to │ or ┃, then remove spacer

[editor.soft-wrap]
enable = true
max-indent-retain = 0
wrap-indicator = ""

# inline means on the line below, actually *inline* is "end-of-line"
[editor.inline-diagnostics]
cursor-line = "hint"

[keys.normal]
j = "move_char_left"
k = "move_visual_line_down"
i = "move_visual_line_up"

w = "move_next_sub_word_start"
e = "move_next_sub_word_end"
b = "move_prev_sub_word_start"

C-y = "scroll_up"
C-e = "scroll_down"

h = "insert_mode"
H = "insert_at_line_start"

C-j = "goto_previous_buffer"
C-l = "goto_next_buffer"

X = "extend_line_above"

G = "goto_last_line"
q = "record_macro"
Q = "replay_macro"

J = "join_selections_space"

C-space = "hover"

esc = ["collapse_selection", "keep_primary_selection"]

# TODO: these are ok but id rather they didnt select the entire line
I = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
K = ["extend_to_line_bounds", "delete_selection", "paste_after"]

"*" = "search_selection"
"A-*" = "search_selection_detect_word_boundaries"

A-n = "extend_search_next"
A-N = "extend_search_prev"

"}" = ["goto_next_paragraph", "collapse_selection"]
"{" = ["goto_prev_paragraph", "move_visual_line_up"]

[keys.normal.space]
w = ":update"
q = ":quit"
c = ":config-reload"
x = ":write-quit"

[keys.normal.g]
i = "move_line_up"
j = "goto_line_start"
k = "move_line_down"
l = "goto_line_end"

w = "move_next_word_start"
e = "move_next_word_end"
b = "move_prev_word_start"

s = "goto_word"
h = "goto_implementation"
c = "toggle_comments"

[keys.normal.m]
h = "select_textobject_inner"

[keys.normal.z]
i = "scroll_up"
k = "scroll_down"

[keys.normal.C-w]
i = "jump_view_up"
j = "jump_view_left"
k = "jump_view_down"

[keys.select]
i = "extend_visual_line_up"
j = "extend_char_left"
k = "extend_visual_line_down"

w = "extend_next_sub_word_start"
e = "extend_next_sub_word_end"
b = "extend_prev_sub_word_start"

G = "goto_last_line"

[keys.select.g]
c = "toggle_comments"

i = "extend_line_up"
j = "extend_to_line_start"
k = "extend_line_down"
l = "extend_to_line_end"

w = "extend_next_word_start"
e = "extend_next_word_end"
b = "extend_prev_word_start"
